*{
    margin:0;
    padding:0;
    /* font-family: "Proxima Nova";  */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    box-sizing: border-box;
    color: #212529;
}
body{
    width: 100%;
    /* width: 1440px; */
    /* height: 2798.13px; */
    background-color: #f7f7f7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.container{
    width: 1140px;
    /* height: 2485.63px; */
    margin: 0 150px;
    padding: 0 15px; 
    /* font-size: 16px;  */
}
nav{
    display: flex;
    width: 100%;
    height: 85.03px;
    margin: 10px 0; 
    padding: 5px 0px; 
    color: #212529; 
}
.no-logo{
    display: flex;
    /* width: 90%; */
    height: 44px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    width: 500px;
    height: 43px; 
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0 250px 0 0; 
}
.nav-link{
    width: 78.05px;
    height: 43px; 
    color: #4e4e4e;
    font-family: "Proxima Nova";
    text-decoration-style: solid;
    font-size: 22px;
    text-decoration: none;
    padding: 5px; 
}
.sign-in{
    width: 120px;
    height: 44px; 
    color: #782CFF;
    background-color: #f4edfe;
    font-size: 21px;
    font-weight: bold; 
    margin: 0 10px 0 0;
    padding: 5px; 
    border-radius: 30px;
    border: none; 
}
/* svg{
    display: flex; 
    justify-content: flex-end;
} */
.langs{
    width: 73px;
    height: 38px;
    background-color: black; 
    display:flex; 
    justify-content: flex-end;
}
/* .navbar__language-wrapper .navbar__language-list {
    width: 75px;
    height: 38px; 
    padding: 5px 15px;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transition: all .4s ease-in-out;
    visibility: hidden;
    z-index: 10;
} */
/* .navbar__current-language{
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #4e4e4e;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: white;
    box-sizing: border-box;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
} */
.first, .second, .third, .fourth{
    display: flex; 
}
.image-size{
    width: 130%;
    /* max-width: 100%; */
    height: auto;
}
.first{
    width: 100%;
    height: 720px;
    color: #212519;
    font-size: 16px;
    /* margin: 0px 15px; */
}
.text_one{
    width: 50%;
    height: 700.19px;
    color: #212519;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 180px 0 100px 0;  
}
h1{
    width: 100%;
    height: 55px;
    font: 44px "Proxima Nova";
    margin: 135px 0 5px;
    font-weight: bold;
    color: #4e4e4e; 
}
.text_one > p{
    color: #4e4e4e;
    font: 22px "Proxima Nova";
    margin: 54px 0 10px; 
}
.join_us{
    width: 190px;
    height: 50px;
    color: #ffffff;
    background-color: #03c3a4;
    font: 21px "Proxima Nova";
    padding: 0 13px;
    margin: 32px 0 0; 
    border-radius: 40px;
    font-weight: bold;
}
.image_one{
    /* width: 570px; */
    width: 50%;
    height: 700.19px;
    margin-right: 30px; 
    /* margin-left: -10%; */
    /* position: relative;
    z-index: -1; */
}
.text_two{
    width: 50%;
    height: 350px;
    padding: 80px 15px 80px 80px; 
    margin: 130px 0 0 0;
}
.small-image{
    width: 85px;
    height: 85px;
    margin: 0 60px; 
}
/* .second{
    height: 520px;
} */
.image_two{
    /* padding: 50px 50px; 
    margin: 0 40px 0 0;  */
    padding: 80px 80px 80px 15px;
    margin: 15px 80px 0 0; 
}
.registration{
    width: 475px;
    height: 85px;
    color: #4e4e4e;
    margin: 0 0 5px; 
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
}
.text_two > p{
    color: #444445;
    font-size: 16px;
    margin: 20px 0 10px; 
    /* padding: 80px 15px 80px 80px; */
}
.third{
    width: 100%;
    height: 650px;
}
.text_three{
    width: 50%;
    height: 350px;
    font-size: 16px;
    color: #212529;
    padding: 80px 80px 80px 15px;
    margin: 175px 0 0 0;
    text-align: justify;
    text-align-last: right;
}
.share_wish{
    width: 475px;
    height: 85px;
    color: #4e4e4e;
    margin: 0 0 5px; 
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.image_three{
    width: 50%;
    /* height: 650px; */
    padding: 80px 15px 80px 80px;
    margin: 15px 80px 0 0; 
}
.image_four{
    padding: 80px 80px 80px 15px;
    margin: 15px 80px 0 0; 
}
.text_four{
    width: 50%;
    height: 350px;
    padding: 80px 15px 80px 80px; 
    margin: 130px 0 0 0;
}
.congrats{
    width: 475px;
    height: 85px;
    color: #4e4e4e;
    margin: 0 0 5px; 
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
}
.subscribe{
    width: 100%;
    height: 250px;
    color: #212529;
    background-color: #423d71;
    border: 1px solid #707070;
    padding: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.subscribe__button{
    color: #ffffff;
    font-size: 14px;
    background-color: #03c3a4;
    padding: 6px 20px;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display:inline-block;
    float:right;

}
.subscribe__input {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 6px 20px;
    color: #444445;
    width: 10.5rem;
    text-align: start;
    display:inline-block;
    float:left;
}
::placeholder{
    opacity: 0.5;
}



